
/* ----------------------------------- Estilos do cadastro.php ----------------------------------------- */

		body {
			margin-top: 150px;
		}
		
		#cadastro label {
			margin-top: 10px;
			margin-bottom: 0;
		}
		
		#cadastrobuttomodal button{
		width: 90px;		
		}

		.form-group input, .form-group select {
		width: 450px;
		}
		
		
/* ----------------------------------- Estilos @media do cadastro.php ----------------------------------- */	

        @media (max-width: 991px) {
        
        		body {
        			margin-top: 100px;
        		}
        
        }
 
 @media (min-width: 451px) and (max-width: 600px) {
	  
	  	.form-group input, .form-group select {
		width: 400px;
		}
	  
	  
  }	


 @media (min-width: 381px) and (max-width: 450px) {
	  
	  	.form-group input, .form-group select {
		width: 320px;
		}
	  
	  
  }	
  
  
  
  @media (min-width: 321px) and (max-width: 380px) {
	  
	  	.form-group input, .form-group select {
		width: 250px;
		}
	  
	  
  }	


  @media (min-width: 275px) and (max-width: 320px) {
		#cadastrobuttomodal button {
		display: flex;
		justify-content: center;
		align-items: center;
		white-space: nowrap;
		margin: auto;
		}
		
		.form-group input, .form-group select {
		width: 230px;
		}
    }	



  
  
  
